{% extends 'WarehouseBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - booking
{% endblock %}

{% block body %}

    <div class="page-title">
      <div class="title_left">
        <h3>Booking #{{ booking.orderNumber }} <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h3>
      </div>
      <div class="title_right"></div>
    </div>

    <div class="clearfix"></div>


    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Order storyline <small>Status changes</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <ul class="list-unstyled timeline">
                <li>
                  <div class="block">
                    <div class="tags">
                      <a href="" class="tag"><span>Accepted</span></a>
                    </div>
                    <div class="block_content">
                      <h2 class="title"><a>Order created</a></h2>
                      <div class="byline"><span>13 hours ago</span> by <a>Brendan Burscough</a></div>
                      <p class="excerpt">Via @roveconcepts.com</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="tags">
                      <a href="" class="tag"><span>Forward</span></a>
                    </div>
                    <div class="block_content">
                      <h2 class="title"><a>Awaiting forward</a></h2>
                      <div class="byline"><span>13 hours ago</span> by <a>Brendan Burscough</a></div>
                      <p class="excerpt">Order is awaiting a forward for missing items.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="tags"><a href="" class="tag"><span>Picked</span></a>
                    </div>
                    <div class="block_content">
                      <h2 class="title"><a>Items were picked</a></h2>
                      <div class="byline"><span>13 hours ago</span> by <a>Brendan Burscough</a></div>
                      <p class="excerpt">All 3 items have been picked and are ready for packing.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="tags"><a href="" class="tag"><span>Packed</span></a>
                    </div>
                    <div class="block_content">
                      <h2 class="title"><a>Order is packed</a></h2>
                      <div class="byline"><span>13 hours ago</span> by <a>Brendan Burscough</a></div>
                      <p class="excerpt">Order is awaiting pickup from Vitran is loading bay with reference (VI68006).</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="tags"><a href="" class="tag"><span>Shipped</span></a>
                    </div>
                    <div class="block_content">
                      <h2 class="title"><a>Order shipped</a></h2>
                      <div class="byline"><span>13 hours ago</span> by <a>Brendan Burscough</a></div>
                      <p class="excerpt">Order was picked up by Vitran (VI68006).</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- end x_content -->
          </div>
          <!-- end x_panel -->

          <div class="x_panel">
            <div class="x_title">
              <h2>Booking Products <small>Line Items</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-keytable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Description</th>
                    <th>Ordered</th>
                    <th>Available</th>
                    <th>Qty Picked</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bookingProduct in booking.products %}
                  <tr>
                    <td>{{ bookingProduct.product.model }}</td>
                    <td>{{ bookingProduct.product.description }}</td>
                    <td>{{ bookingProduct.qty }}</td>
                    <td>{{ productUtil.getAvailable(bookingProduct.product) }}</td>
                    <td>{{ bookingUtil.bookingProductPickedQty(bookingProduct) }}</td>
                    <td>{{ bookingUtil.bookingProductStatusName(bookingProduct.status) }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- end x_content -->
          </div>
          <!-- end x_panel -->

          <div class="x_panel">
            <div class="x_title">
              <h2>Booking Files <small>BOL's, labels, etc.</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <ul class="list-unstyled project_files">
                {% if booking.files|length %}
                    {% for file in booking.files %}
                      <li>{% include 'WarehouseBundle:BookingFile:file.html.twig' with {'file': file} %}</li>
                    {% endfor %}
                {% else %}
                    <li class="remove">There are no files associated with the booking.</li>
                {% endif %}
              </ul>
              {{ form_start(file_form,{'attr':{'class':'ajaxForm','data-appendto':'.project_files'}}) }}
                  {% include 'WarehouseBundle:BookingFile:ajax_file_form.html.twig' with {'form': file_form, 'booking': booking} %}
                  {{form_rest(file_form)}}
              {{ form_end(file_form) }}
            </div>
            <!-- end x_content -->
          </div>
          <!-- end x_panel -->

      </div>
      <!-- end col -->




      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-eye"></i> Order Information <small>Contact details</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="stats-overview">
                        <li id="days-since">
                          <span class="name"> Days since creation </span>
                          <span class="value text-success">{{ booking.created|days_since() }}</span>
                        </li>
                        <li id="date-noted">
                          {% if booking.shipped %}
                              <span class="name"> Shipped date </span>
                              <span class="value text-success"> {{ booking.shipped|date('Y-m-d h:i A') }} </span>
                          {% elseif booking.futureship %}
                              <span class="name"> Future ship date </span>
                              <span class="value text-success"> {{ booking.futureship|date('Y-m-d') }} </span>
                          {% else %}
                              <span class="name"> Created date </span>
                              <span class="value text-success"> {{ booking.created|date('Y-m-d h:i A') }} </span>
                          {% endif %}
                        </li>
                        <li id="date-modified">
                          <span class="name"> Last updated </span>
                          <span class="value text-success"> {% if booking.modified %}{{ booking.modified|date('Y-m-d h:i A') }}{% else %}never{% endif %} </span>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12">
                  <section class="panel">
                    <div class="x_title">
                      <h2>Booking information</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                      <div class="project_detail">
                        <div class="col-xs-12 col-sm-6">
                            <p class="title">Order Number</p>
                            <p>{{ booking.Ordernumber }}</p>
                            <p class="title">Order Type</p>
                            <p>{{ bookingUtil.bookingOrderTypeName(booking.orderType) }}</p>
                            <p class="title">Assigned Carrier</p>
                            <p>{% if booking.carrierId %}{{ booking.carrierId }}{% else %}-{% endif %}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p class="title">Number of skids</p>
                            <p>{% if booking.skidCount %}{{ booking.skidCount }}{% else %}-{% endif %}</p>
                            <p class="title">Booking Status</p>
                            <p>{{ bookingUtil.bookingStatusName(booking.status) }}</p>
                            <p class="title">Warehouse Booking Id</p>
                            <p>{{ booking.id }}</p>
                        </div>
                      </div>

                    </div>
                  </section>
                </div>

                <div class="col-xs-12">
                  <section class="panel">
                    <div class="x_title">
                      <h2>Consignee information <small class="btn btn-success btn-xs">{% if booking.contact and booking.contact.isResidential %}Residential{% else %}Commercial{% endif %}</small></h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                      <div class="project_detail">
                        {% if booking.contact %}
                            <div class="col-xs-12 col-sm-6">
                                <p class="title">Company</p>
                                <p>{{ booking.contact.company }}</p>
                                <p class="title">Consignee Name</p>
                                <p>{{ booking.contact.name }}</p>
                                <p class="title">Communication methods</p>
                                <ul class="list-unstyled">
                                {% for com in booking.contact.communications %}
                                    <li>{% if com.type == 'PHONE' %}<i class="fa fa-phone"></i>{% elseif com.type == 'EMAIL' %}<i class="fa fa-envelope"></i>{% else %}<i class="fa fa-home"></i>{% endif %}
                                    {{ com.value }}
                                    {% if com.id == booking.contact.defaultCom %} (default){% endif %}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <p class="title">Consignee Address</p>
                                <pre>{{ bookingUtil.formatContactAddress(booking.contact) }}</pre>
                            </div>
                        {% else %}
                            <p>There is no booking consignee.</p>
                        {% endif %}
                      </div>
                    </div>
                  </section>
                </div>
            </div>
          </div>
          <!-- end x_content -->
        </div>
        <!-- end x_panel -->

        <div class="x_panel">
            <div class="x_title">
              <h2>Comments <small>Make frequent notes through each order.</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <ul class="list-unstyled timeline widget booking_comments">
              {% if booking.comments|length %}
                {% for comment in booking.comments %}
                  <li>{% include 'WarehouseBundle:BookingComment:comment.html.twig' with {'comment': comment} %}</li>
                {% endfor %}
              {% else %}
                  <li class="remove">There are no comments associated with the booking.</li>
              {% endif %}
              </ul>
              <hr />
              {{ form_start(comment_form, {'method':'POST','attr': {'class': 'ajaxForm','data-appendto':'.messages'}}) }}
                {% include 'WarehouseBundle:BookingComment:ajax_comment.html.twig' with {'form': comment_form, 'booking': booking} %}
                <p>
                    <button type="submit" class="btn btn-success">Create</button>
                </p>
                {{form_rest(comment_form)}}
                {{ form_end(comment_form) }}
            </div>
            <!-- end x_content -->
          </div>
          <!-- end x_panel -->

      </div>
      <!-- end col -->


    </div>
    <!-- end row -->
    <hr/>


    <div class="form-group">
        <a class="btn btn-default" href="{{ path('booking') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Back to list
        </a>
        <a class="btn btn-primary" href="{{ path('booking_edit', { 'id':  booking.id }) }}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            Edit
        </a>
        <a class="btn btn-info" href="{{ path('booking_new') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
        </a>
        <form action="{{ path('booking_delete', { 'id': booking.id }) }}" method="post" style="display: inline-block; vertical-align:middle;">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete
            </button>
        </form>
    </div>


{% endblock %}

{% block scripts %}

  
{% endblock %}