{% extends 'WarehouseBundle::pdf_layout.html.twig' %}


{% block body %}
    {% block content_header %}
        <div class="content_heading">Pick Summary - As of {{ "now"|date('Y-m-d H:i A') }}</div>
    {% endblock %}

    {% block content %}
        <div class="row">
            <div class="row">
                <div class="col-xs-3">
                    Pick Summary
                </div>

                <div class="col-xs-9">
                    <div class="booking_carrier">
                        {% for booking in bookings %}
                            #{{ booking.orderNumber }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Items</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Description</th>
                        <th>Qty</th>
                        <th>Detail</th>
                        <th>Locations</th>
                        <th>Stock Level</th>
                        <th>Driver</th>
                        <th>Picker</th>
                        <th>Confirmation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pickSummaryItem in viewData %}
                        <tr>
                            {% if pickSummaryItem.sku is defined %}
                                <td>{{ pickSummaryItem.sku }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if pickSummaryItem.description is defined %}
                                <td>{{ pickSummaryItem.description }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if pickSummaryItem.qty is defined %}
                                <td>{{ pickSummaryItem.qty }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if pickSummaryItem.detail is defined %}
                                <td>{{ pickSummaryItem.detail }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if pickSummaryItem.location is defined %}
                                <td>{{ pickSummaryItem.location }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if pickSummaryItem.stockLevel is defined %}
                                <td>{{ pickSummaryItem.stockLevel }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endblock %}
{% endblock %}