<div class="col-xs-12">
    <section class="panel">
        {{ form_start(edit_form) }}
        <div class="x_title">
            <h2>Booking information
                <small>Internal ID #{{ booking.id }}</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="project_detail">
                <div class="col-xs-12 col-sm-6">
                    <p class="title">Order Number</p>
                    <p>{{ form_widget(edit_form.orderNumber) }}</p>
                    <p class="title">Order Type</p>
                    <p>{{ form_widget(edit_form.orderType) }}</p>
                    <p class="title">Order Reference</p>
                    <p>{{ form_widget(edit_form.orderReference) }}</p>
                    <p class="title">Future Ship Date</p>
                    <p>{{ form_widget(edit_form.futureship) }}</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p class="title">Assigned Carrier</p>
                    <p>{{ form_widget(edit_form.carrier) }}</p>
                    <p class="title">Number of skids</p>
                    <p>{{ form_widget(edit_form.skidCount) }}</p>
                    <p class="title">Booking Status</p>
                    <p>{{ form_widget(edit_form.status) }}</p>
                    <p class="title">&nbsp;</p>
                    <p>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Submit
                        </button>
                    </p>
                </div>
                {{ form_rest(edit_form) }}
            </div>
        </div>
        {{ form_end(edit_form) }}
    </section>
</div>