    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %} 
            {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }} alert-dismissible fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{ flashMessage|raw }}
            </div>
             {% endfor %} 
             {% endfor %} 
        </div>
    </div>

    {#
    {{ form_widget(form._token) }}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>SKU</th>
            <th>Qty Asked</th>
            <th>Qty Staged</th>
            <th>Locations</th>
            <th>Available</th>
            <th>Staged</th>
        </tr>
        </thead>
        <tbody>
        {% for itemDTO in form.items %}
            {% for itemLocationDTO in itemDTO.itemLocations %}
                <tr class="{% if loop.last %}border-sub-bottom{% endif %}">
                    <td>{% if loop.first %}{{ itemDTO.vars.value.sku }}{% endif %}</td>
                    <td>{% if loop.first %}{{ itemDTO.vars.value.orderedQuantity }}{% endif %}</td>
                    <td>{% if loop.first %}{{ itemDTO.vars.value.quantityStaged }}{% endif %}</td>
                    <td class="sub sub-first">{{ itemLocationDTO.vars.value.printLocation }}</td>
                    <td class="sub">{{ itemLocationDTO.vars.value.quantity }}</td>
                    <td class="sub sub-last" data-url="{{ path('booking_pick_queue_edit_ajax',{'id':itemLocationDTO.vars.value.id}) }}" data-location="{{ itemLocationDTO.vars.value.id }}" data-original="{{ itemLocationDTO.vars.value.quantityStaged }}">
                        {{ form_widget(itemLocationDTO) }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {{ form_rest(form) }}
    #}



    <div class="row featurette" style="border:1px solid #f7f7f7;">
        <div class="col-xs-6 col-sm-2 heading">SKU</div>
        <div class="col-xs-3 col-sm-2 heading">Asked</div>
        <div class="col-xs-3 col-sm-2 heading">Staged</div>
        <div class="col-xs-4 col-sm-2 heading hidden-xs">Locations</div>
        <div class="col-xs-4 col-sm-2 heading hidden-xs">Available</div>
        <div class="col-xs-4 col-sm-2 heading hidden-xs">Staged</div>
        {% for itemDTO in form.items %}
            <span class="item">
                {% for itemLocationDTO in itemDTO.itemLocations %}
                    {% if loop.first %}
                        <div class="col-xs-6 col-sm-2 item">
                            {{ itemDTO.vars.value.sku }}
                        </div>
                        <div class="col-xs-3 col-sm-2 item">
                            {{ itemDTO.vars.value.orderedQuantity }}
                        </div>
                        <div class="col-xs-3 col-sm-2 item">
                            {{ itemDTO.vars.value.quantityStaged }}
                        </div>
                    {% else %}
                        <div class="col-xs-6 col-sm-2 item hidden-xs">&nbsp;</div>
                        <div class="col-xs-3 col-sm-2 item hidden-xs">&nbsp;</div>
                        <div class="col-xs-3 col-sm-2 item hidden-xs">&nbsp;</div>
                    {% endif %}
                    <div class="col-xs-6 col-sm-2 item fixed {% if loop.last %}sub-last{% endif %}">
                        {{ itemLocationDTO.vars.value.printLocation }}
                    </div>
                    <div class="col-xs-3 col-sm-2 item fixed {% if loop.last %}sub-last{% endif %}">
                        {{ itemLocationDTO.vars.value.quantity }}
                    </div>
                    <div class="col-xs-3 col-sm-2 item fixed {% if loop.last %}sub-last{% endif %}" data-url="{{ path('booking_pick_queue_edit_ajax',{'id':itemLocationDTO.vars.value.id}) }}" data-location="{{ itemLocationDTO.vars.value.id }}" data-original="{{ itemLocationDTO.vars.value.quantityStaged }}">
                        {{ form_widget(itemLocationDTO) }}
                    </div>
                {% endfor %}
            </span>
        {% endfor %}
    </div>