<tr>
    <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{bookingProduct.id}}"/></td>
    <td><a href="{{ path('booking_edit',{'id':bookingProduct.booking.id}) }}">{{ bookingProduct.booking.orderNumber }}</a><div><small>{{ bookingUtil.bookingStatusName(bookingProduct.booking.status) }}</small></div></td>
    <td>{{ bookingProduct.qty }}</td>
    <td>{{ bookingUtil.bookingProductPickedQty(bookingProduct) }}</td>
    <td>{{ bookingUtil.bookingProductStatusName(bookingProduct.status) }}</td>
    <td class="hidden-xs">{%- if bookingProduct.pickedDate %}{{ bookingProduct.pickedDate|date('Y-m-d H:i:s') }}{% else %}never{% endif %}</td>
    <td class="actions">
        <a  onclick="return confirm('Are you sure!');" title="Delete" class="btn btn-danger btn-sm" href="{{ path('booking_product_by_id_delete', { 'id': bookingProduct.id}) }}">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
        <a  title='Edit' class="btn btn-primary btn-sm" href="{{ path('booking_product_edit', { 'id': bookingProduct.id }) }}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
    </td>
</tr>