{% extends 'WarehouseBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Inventory Listing
{% endblock %}

{% block body %}

    <div class="page-title" style="display:none;">
      <div class="title_left">
        <h3>Inventory Listing <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h3>
      </div>
      <div class="title_right"></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %} 
            {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }} alert-dismissible fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{ flashMessage|raw }}
            </div>
             {% endfor %} 
             {% endfor %} 
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                  <h2><a href="{{ path('product') }}">Inventory</a> <small>Warehouse management</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- FILTERING -->
                    <form class="well" action="{{ path('product') }}" method="get" >
                    <div class="col-md-12">
                        {{ form_row(filterForm.model) }}
                        <div  id="filters" class="collapse">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        {{ form_row(filterForm.qtyPerCarton) }}
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        {{ form_row(filterForm.status) }}
                                    </div>

                                    <div class="col-md-6">
                                        {{ form_rest(filterForm) }}
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-warning" name="filter_action" value="filter"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>
                                            <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </form>
                    <!-- END FILTERING -->


                    <div class="col-md-3 pull-left">
            
                        <!-- PAGE SIZE -->
                        <div class="pagination form-inline ">
                            <select class = "form-control"  onchange="window.location = this.value" >
                                <option value='{{ path('product', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>10</option>
                                <option value='{{ path('product', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>20</option>
                                <option value='{{ path('product', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 or app.request.query.get('pcg_show') == '' %} selected {% endif %}>50</option>
                                <option value='{{ path('product', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
                                <option value='{{ path('product', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
                            </select>
                        </div>
                        <!-- END PAGE SIZE -->

                    </div>

                    <div class="col-md-6">
                    </div>         

                    <div class="col-md-3">
                        <a class="btn btn-primary h3 pull-right" href="{{ path('product_new') }}" style="margin-bottom:10px">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
                        </a>
                        <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
                            Filter
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        {%- if form_errors(filterForm) %}
                        <div class="alert alert-block alert-error fade in form-errors">
                            {{ form_errors(filterForm) }}
                        </div>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div class="table-responsive col-md-12">
                            <form method="POST" id="bulk_form" action="{{ path('product_bulk_action') }} ">
                                <table class="table table-striped jambo_table bulk_action" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                                            {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                                            <!--<th>{{macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>-->
                                            <th>{{macros.th_sortable('model',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>
                                            <th>{{macros.th_sortable('description',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>
                                            <th>{{macros.th_sortable('qtyPerCarton',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>
                                            <th>{{'On Hand'}}</th>
                                            <th>{{'Allocated'}}</th>
                                            <th>{{'Available'}}</th>
                                            <th>{{'Locations'}}</th>
                                            {#<th>{{macros.th_sortable('length',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>
                                            <th>{{macros.th_sortable('width',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>
                                            <th>{{macros.th_sortable('height',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>
                                            <th>{{macros.th_sortable('dimUnits',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>
                                            <th>{{macros.th_sortable('weight',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>
                                            <th>{{macros.th_sortable('weightUnits',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>#}
                                            <th>{{macros.th_sortable('created',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'product')}}</th>
                    
                                       
                                        <th width = "130px">List</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    {% set locationMap = productUtil.getLocationMap(product) %}
                                    {% set qtyonhand = productUtil.getOnHand(product) %}
                                    <tr>
                                        <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{product.id}}"/></td>
                                        <!--<td><a href="{{ path('product_edit', { 'id': product.id }) }}">{{ product.id }}</a></td>-->
                                        <td><a href="{{ path('product_edit', { 'id': product.id }) }}">{{ product.model }}</a></td>
                                        <td>{{ product.description }}</td>
                                        <td>{{ product.qtyPerCarton }}</td>
                                        <td>{{ qtyonhand }} ({{ (qtyonhand / product.qtyPerCarton)|round(0,'ceil') }})</td>
                                        <td>{{ productUtil.getAllocated(product) }}</td>
                                        <td>{{ productUtil.getAvailable(product) }}</td>
                                        <td>{{ product.locations|length }} {% if locationMap|length %}<ul>{% for location in locationMap %}<li>{{ location }}</li>{% endfor %}</ul>{% endif %}</td>
                                        {#<td>{{ product.length }}</td>
                                        <td>{{ product.width }}</td>
                                        <td>{{ product.height }}</td>
                                        <td>{{ product.dimUnits }}</td>
                                        <td>{{ product.weight }}</td>
                                        <td>{{ product.weightUnits }}</td>#}
                                        <td>{% if product.created %}{{ product.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    
                                        <td class="actions">
                                            <a  onclick="return confirm('Are you sure!');" title="Delete" class="btn btn-danger btn-sm" href="{{ path('product_by_id_delete',  app.request.query.all|merge({'id':product.id})) }}">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </a>
                                            <a  title='Edit' class="btn btn-primary btn-sm" href="{{ path('product_edit', app.request.query.all|merge({'id':product.id})) }}">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </a>
                                        </td>


                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </form>
                        </div>
                    </div> <!-- /#list -->

                    <div class="row">
                        <div class="col-md-4 pull-left">
                            <div class="pagination form-inline ">
                                <select class = "form-control" name="bulk_action" >
                                    <option value="delete">DELETE</option>
                                </select>
                                <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-2 text-right">
                             {{ pagerHtml|raw }} 
                        </div>
                    </div> <!-- /#bottom -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}

