{% extends 'WarehouseBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - New product
{% endblock %}

{% block body %}

    <div class="page-title">
      <div class="title_left">
        <h3>New product <span class="glyphicon glyphicon-file" aria-hidden="true"></span></h3>
      </div>
      <div class="title_right"></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %} 
            {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }} alert-dismissible fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{ flashMessage|raw }}
            </div>
             {% endfor %} 
             {% endfor %} 
        </div>
    </div>

    
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                  <h2>Details <small>Product information</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ form_start(form) }}

                    <div class="row">

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group {% if form_errors(form.model) %}item bad{% endif %}"">
                                {{ form_label(form.model) }}
                                {{ form_widget(form.model) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group {% if form_errors(form.status) %}item bad{% endif %}"">
                                {{ form_label(form.status) }}
                                {{ form_widget(form.status) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group {% if form_errors(form.description) %}item bad{% endif %}"">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group {% if form_errors(form.qtyPerCarton) %}item bad{% endif %}"">
                                {{ form_label(form.qtyPerCarton) }}
                                {{ form_widget(form.qtyPerCarton) }}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-2">
                            <div class="form-group {% if form_errors(form.length) %}item bad{% endif %}"">
                                {{ form_label(form.length) }}
                                {{ form_widget(form.length) }}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-2">
                            <div class="form-group {% if form_errors(form.width) %}item bad{% endif %}">
                                {{ form_label(form.width) }}
                                {{ form_widget(form.width) }}
                                {# <div class="alert">{{ form_errors(form.width) }} </div>#}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-2">
                            <div class="form-group {% if form_errors(form.height) %}item bad{% endif %}"">
                                {{ form_label(form.height) }}
                                {{ form_widget(form.height) }}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-2">
                            <div class="form-group {% if form_errors(form.dimUnits) %}item bad{% endif %}"">
                                {{ form_label(form.dimUnits) }}
                                {{ form_widget(form.dimUnits) }}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-2">
                            <div class="form-group {% if form_errors(form.weight) %}item bad{% endif %}"">
                                {{ form_label(form.weight) }}
                                {{ form_widget(form.weight) }}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-2">
                            <div class="form-group {% if form_errors(form.weightUnits) %}item bad{% endif %}"">
                                {{ form_label(form.weightUnits) }}
                                {{ form_widget(form.weightUnits) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            {{ form_rest(form) }}
                        </div>

                    </div>
                    {{ form_widget(form) }}
                    <p>
                        <button type="submit" name="submit" value="save" class="btn btn-primary"> 
                            Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                        </button>
                        <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info"> 
                            Save and Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </p>


                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    
    

    <hr/>

    <div class="form-group">
        <a class="btn btn-default" href="{{ path('product') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Back to list
        </a>
    </div>

    

</div>


{% endblock %}

