<div class="lead">Incoming Results</div>

<div class="table-responsive">
	<table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Status</th>
          <th>ETA</th>
        </tr>
      </thead>
      <tbody>
      	{% for incomingProduct in items %}
        <tr>
          <th scope="row"><a href="{{ path('booking_edit',{'id':incomingProduct.incoming.id}) }}">{{ incomingProduct.incoming.name }}</a></th>
          <td>{{ incomingUtil.incomingTypeName(incomingProduct.incoming.type) }}</td>
          <td>{{ incomingUtil.incomingStatusName(incomingProduct.incoming.status) }}</td>
          <td>{{ incomingProduct.incoming.eta|date('Y-m-d') }}</td>
        </tr>
        {% endfor %}
        {% if items|length == 0 %}
        <tr>
          <td colspan="4">No results for {{ search }} for incoming.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
</div>