{% for inbound in pagination %}
    <tr>
        <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();'
                   class="check-all" value="{{ inbound.id }}" title="ids"/></td>
        <td>
            <a href="{{ path('incoming_products_scanned',
            app.request.query.all|merge({'id':inbound.id})) }}">{{ inbound.name }}</a>
        </td>
        <td>{{ inbound.type.detail }}</td>
        <td>{{ inbound.status.detail }}</td>
        <td>{% if inbound.eta %}{{ inbound.eta|date('Y-m-d') }}{% endif %}</td>
        <td>{% if inbound.scheduled %}{{ inbound.scheduled|date('Y-m-d H:i:s') }}{% else %}Unscheduled{% endif %}</td>
        <td>{% if inbound.created %}{{ inbound.created|date('Y-m-d') }}{% endif %}</td>
        <td>{{ inbound.incomingProducts|length }}</td>

        <td class="actions">
            <a onclick="return confirm('Are you sure!');" title="Delete"
               class="btn btn-danger btn-sm"
               href="{{ path('incoming_by_id_delete',  app.request.query.all|merge({'id':inbound.id})) }}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <a title='Incoming Products' class="btn btn-primary btn-sm"
               href="{{ path('incoming_products',
               app.request.query.all|merge({'incoming_id':inbound.id})) }}">
                                                    <span class="glyphicon glyphicon-list-alt"
                                                          aria-hidden="true"></span>
            </a>
            <a title='Import products'
               class="btn btn-primary btn-sm {% if inbound.incomingProducts|length %}disabled{% endif %}"
               href="{{ path('incoming_new_import', app.request.query.all|merge({'id':inbound.id})) }}">
                                                    <span class="glyphicon glyphicon-cloud-upload"
                                                          aria-hidden="true"></span>
            </a>
            {#<a title='Scanned List' class="btn btn-primary btn-sm"#}
               {#href="{{ path('incoming_products_scanned',#}
               {#app.request.query.all|merge({'id':inbound.id})) }}">#}
                {#<span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>#}
            {#</a>#}
            <a title='Edit' class="btn btn-primary btn-sm"
               href="{{ path('incoming_edit', app.request.query.all|merge({'id':inbound.id})) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
{% endfor %}