{% extends 'WarehouseBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Incoming Inventory Listing
{% endblock %}

{% block body %}

    <div class="page-title" style="display:none;">
        <div class="title_left">
            <h3>Incoming Listing <span class="glyphicon glyphicon-truck" aria-hidden="true"></span></h3>
        </div>
        <div class="title_right"></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade in">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>



    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-xs-12">
                    <h2><a href="{{ path('incoming') }}">Incoming</a>
                        <small>Inbound products to warehouse</small>
                    </h2>
                </div>
            </div>

        </div>
        <div class="x_body">
            <div class="row">
                <div class="col-md-3 pull-right">
                    <a class="btn btn-primary h3 pull-right" href="{{ path('incoming_new') }}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form method="POST" id="bulk_form" action="{{ path('incoming_bulk_action') }} ">
                        <table class="table table-striped jambo_table bulk_action" cellspacing="0"
                               cellpadding="0">
                            <thead>
                            <tr>
                                <th width="20px"><input type="checkbox" class="check-all"
                                                        onclick="toggleAll(this)" title="check"></th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Eta</th>
                                <th>Scheduled</th>
                                <th>Created</th>
                                <th>#Products</th>
                                <th width="160px">List</th>
                            </tr>
                            </thead>
                            <tbody id="incoming_list_content">
                            {% include 'incoming/_index_incoming_detail.html.twig' %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 pull-left">
                    <div class="pagination form-inline ">
                        <select class="form-control" name="bulk_action" title="bulk_action">
                            <option value="delete">DELETE</option>
                        </select>
                        <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')"
                               form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

