{% for incomingScannedProduct in form.incomingScannedProducts %}
    <tr>
        <td width="60">
            {% if not iscomplete %}
                <a data-confirm="Are you sure!" title="Delete" class="btn btn-danger btn-sm ajaxLink"
                   href="{{ path('incoming_products_scanned_delete_ajax', { 'id': incoming.incomingScannedProducts[loop.index0].id}) }}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            {% endif %}
        </td>
        <td>
            {{ incoming.incomingScannedProducts[loop.index0].product.model }}
        </td>
        <td>
            {% if incoming.incomingScannedProducts[loop.index0].incomingProduct %}
                {{ incoming.incomingScannedProducts[loop.index0].incomingProduct.qty }}
            {% else %}n/a{% endif %}</td>
        <td>{{ incomingUtil.getIncomingProductScanCountByModel(incoming,incoming.incomingScannedProducts[loop.index0].product.model) }}</td>
        <td width="170">
            {% if not iscomplete %}
                {{ form_widget(incomingScannedProduct.location,
                {'attr':
                    {
                        'data-url':path('incoming_product_scan_edit_ajax',{'id':incoming.incomingScannedProducts[loop.index0].id}),
                        'class':'incoming-location-update'
                    }
                }) }}
            {% else %}-{% endif %}</td>
        <td width="80">
            {% if not iscomplete %}
                {{ form_widget(incomingScannedProduct.qtyOnScan, {'attr':
                    {
                        'data-url':path('incoming_product_scan_edit_ajax',{'id':incoming.incomingScannedProducts[loop.index0].id}),
                        'class':'incoming-qty-update'
                    }
                }) }}
            {% else %}-{% endif %}
        </td>
    </tr>
{% endfor %}