{% extends 'WarehouseBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} -  Edit product
{% endblock %}

{% block body %}

    <div class="page-title">
      <div class="title_left">
        <h3>Edit product {{ product.model }} <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h3>
      </div>
      <div class="title_right"></div>
    </div>

    <div class="clearfix"></div>

    <!-- Flash messaging -->
    {% include 'default/flash_messaging.html.twig' %}
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            
            <!-- Locations -->
            <div class="x_panel">
                <div class="x_title">
                  <h2>Locations <small>Product warehouse locations</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">
                        
                        <div class="table-responsive col-xs-12">
                            <form method="POST" id="location_product_bulk_form" action="{{ path('location_product_bulk_action') }} ">
                                <input type="hidden" name="destination" value="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" />
                                <table class="table table-striped jambo_table bulk_action" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>
                                            {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                                            <th>{{ 'Aisle' }}</th>
                                            <th>{{ 'Row' }}</th>
                                            <th>{{ 'Level' }}</th>
                                            <th>{{ 'Qty' }}</th>
                                            <th class="hidden-xs">{{ 'Modified' }}</th>
                                            <th width="100px">List</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for locationProduct in product.locations %}
                                            {% include 'WarehouseBundle:LocationProduct:location_row.html.twig' with {'locationProduct': locationProduct} %}
                                        {% endfor %}
                                        {% if product.locations|length == 0 %}
                                            <tr class="remove">
                                                <td colspan="7">Product has no current locations created.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <select class="form-control" name="bulk_action" >
                                        <option value="delete">DELETE</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="location_product_bulk_form" class="form-control btn btn-danger btn-sm" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        {{ form_start(location_form, {'method':'POST','attr': {'class': 'ajaxForm','data-appendto':'.messages'}}) }}
                            {% include 'WarehouseBundle:LocationProduct:ajax_location_form.html.twig' with {'form': location_form, 'product': product} %}
                            {{form_rest(location_form)}}
                        {{ form_end(location_form) }}
                    </div>
                </div>
            </div>
            <!-- End Locations -->

            <!-- Product edit -->
            <div class="x_panel">
                <div class="x_title">
                  <h2>{{ product.model }} <small>Product information</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- Form Errors -->
                    {% include 'default/form_errors.html.twig' with {'form':edit_form} %}

                    {{ form_start(edit_form) }}
                    <div class="row">

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group {% if form_errors(edit_form.model) %}item bad{% endif %}">
                                {{ form_label(edit_form.model) }}
                                {{ form_widget(edit_form.model) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group {% if form_errors(edit_form.status) %}item bad{% endif %}">
                                {{ form_label(edit_form.status) }}
                                {{ form_widget(edit_form.status) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group {% if form_errors(edit_form.description) %}item bad{% endif %}">
                                {{ form_label(edit_form.description) }}
                                {{ form_widget(edit_form.description) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group {% if form_errors(edit_form.qtyPerCarton) %}item bad{% endif %}">
                                {{ form_label(edit_form.qtyPerCarton) }}
                                {{ form_widget(edit_form.qtyPerCarton) }}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group {% if form_errors(edit_form.length) %}item bad{% endif %}">
                                {{ form_label(edit_form.length) }}
                                {{ form_widget(edit_form.length) }}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group {% if form_errors(edit_form.width) %}item bad{% endif %}">
                                {{ form_label(edit_form.width) }}
                                {{ form_widget(edit_form.width) }}
                                {# <div class="alert">{{ form_errors(edit_form.width) }} </div>#}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group {% if form_errors(edit_form.height) %}item bad{% endif %}">
                                {{ form_label(edit_form.height) }}
                                {{ form_widget(edit_form.height) }}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group {% if form_errors(edit_form.dimUnits) %}item bad{% endif %}"">
                                {{ form_label(edit_form.dimUnits) }}
                                {{ form_widget(edit_form.dimUnits) }}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group {% if form_errors(edit_form.weight) %}item bad{% endif %}">
                                {{ form_label(edit_form.weight) }}
                                {{ form_widget(edit_form.weight) }}
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group {% if form_errors(edit_form.weightUnits) %}item bad{% endif %}>
                                {{ form_label(edit_form.weightUnits) }}
                                {{ form_widget(edit_form.weightUnits) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            {{ form_rest(edit_form) }}
                        </div>

                    </div>
                    <hr />

                    <p>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit
                        </button>
                    </p>
                    {{ form_end(edit_form) }}
                </div>
            </div>
            <!-- End Product edit -->

        </div>


        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="x_panel">
                <div class="x_title">
                  <h2>Allocated Bookings <small>Bookings that are requiring stock of this entity.</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">
                        
                        <div class="table-responsive col-xs-12">
                                <input type="hidden" name="destination" value="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" />
                                <table class="table table-striped jambo_table" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>{{ 'Order #' }}</th>
                                            <th>{{ 'Qty' }}</th>
                                            <th>{{ 'Picked' }}</th>
                                            <th>{{ 'Status' }}</th>
                                            <th class="hidden-xs">{{ 'Last Picked' }}</th>
                                            <th width="60px">List</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set bookingProducts = productUtil.getAllocatedProducts(product) %}
                                        {% for bookingProduct in bookingProducts %}
                                            {% include 'WarehouseBundle:BookingProduct:booking_product_data_row.html.twig' with {'bookingProduct': bookingProduct} %}
                                        {% endfor %}
                                        {% if bookingProducts|length == 0 %}
                                            <tr class="remove">
                                                <td colspan="6">There are no bookings awaiting this SKU.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="x_panel">
                <div class="x_title">
                  <h2>Recently Picked <small>Most recent 5 picks.</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">
                        
                        <div class="table-responsive col-xs-12">
                                <input type="hidden" name="destination" value="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" />
                                <table class="table table-striped jambo_table" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>{{ 'Order #' }}</th>
                                            <th>{{ 'Qty' }}</th>
                                            <th>{{ 'Picked' }}</th>
                                            <th>{{ 'Status' }}</th>
                                            <th class="hidden-xs">{{ 'Last Picked' }}</th>
                                            <th width="60px">List</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set bookingProducts = productUtil.getRecentPickedProducts(product,5) %}
                                        {% for bookingProduct in bookingProducts %}
                                            {% include 'WarehouseBundle:BookingProduct:booking_product_data_row.html.twig' with {'bookingProduct': bookingProduct} %}
                                        {% endfor %}
                                        {% if bookingProducts|length == 0 %}
                                            <tr class="remove">
                                                <td colspan="6">There are no bookings that picked this sku.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="x_panel">
                <div class="x_title">
                  <h2>Recently Shipped <small>Most recent 5 shipped.</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">
                        
                        <div class="table-responsive col-xs-12">
                                <table class="table table-striped jambo_table" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>{{ 'Order #' }}</th>
                                            <th>{{ 'Qty' }}</th>
                                            <th>{{ 'Picked' }}</th>
                                            <th>{{ 'Status' }}</th>
                                            <th class="hidden-xs">{{ 'Last Picked' }}</th>
                                            <th width="60px">List</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set bookingProducts = productUtil.getRecentShippedProducts(product,50) %}
                                        {% for bookingProduct in bookingProducts %}
                                            {% include 'WarehouseBundle:BookingProduct:booking_product_data_row.html.twig' with {'bookingProduct': bookingProduct} %}
                                        {% endfor %}
                                        {% if bookingProducts|length == 0 %}
                                            <tr class="remove">
                                                <td colspan="6">There are no bookings that shipped this sku.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="x_panel">
                <div class="x_title">
                  <h2>Incoming <small>Containers and freight inbound for this sku</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">
                        
                        <div class="table-responsive col-xs-12">
                                <input type="hidden" name="destination" value="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" />
                                <table class="table table-striped jambo_table" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>{{ 'Name' }}</th>
                                            <th class="hidden-xs">{{ 'Type' }}</th>
                                            <th>{{ 'Qty' }}</th>
                                            <th>{{ 'Scanned' }}</th>
                                            <th>{{ 'Status' }}</th>
                                            <th class="hidden-xs">{{ 'ETA' }}</th>
                                            <th width="60px" class="hidden-xs">List</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set incomingProducts = incomingUtil.getIncomingByProduct(product) %}
                                        {% for incomingProduct in incomingProducts %}
                                            {% include 'WarehouseBundle:IncomingProduct:incoming_product_data_row.html.twig' with {'incomingProduct': incomingProduct} %}
                                        {% endfor %}
                                        {% if incomingProducts|length == 0 %}
                                            <tr class="remove">
                                                <td colspan="7">There are no inbound containers/freight.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>





            <!-- Log -->
            <div class="x_panel">
                <div class="x_title">
                  <h2>Log <small>Latest events with this product.</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">
                        
                        <div class="table-responsive col-xs-12">
                            <table class="table table-striped jambo_table log_product" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th>{{ 'Date' }}</th>
                                        <th>{{ 'Who' }}</th>
                                        <th>{{ 'Note' }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log_entry in log %}
                                        {% include 'WarehouseBundle:ProductLog:log_row.html.twig' with {'log': log_entry} %}
                                    {% endfor %}
                                    {% if log|length == 0 %}
                                        <tr class="remove">
                                            <td colspan="3">There are no log entries.</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <a href="{{ path('log_product',{'id':product.id})}}">View entire log</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    

    <hr/>

    <div class="form-group">
        <a class="btn btn-default" href="{{ path('product') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Back to list
        </a>`
        <a class="btn btn-info" href="{{ path('product_new') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
        </a>
        <form action="{{ path('product_delete', { 'id': product.id }) }}" method="post" style="display: inline-block;vertical-align:middle;">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete
            </button>
        </form>
    </div>
    




{% endblock %}

{% block scripts %}
    {% javascripts 
        'assets/vendor/gentelella/vendors/validator/validator.js' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- validator -->
    <script>
      // initialize the validator function
      var validator = new FormValidator({ date:'not a real date' });
      
      // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
      $('form')
        .on('blur', 'input[required]', function(){
            validator.checkField.call(validator, this)
        })
        .on('change', 'select.required', function(){
            validator.checkField.call(validator, this)
        })
        .on('keypress', 'input[required][pattern]', function(){
            validator.checkField.call(validator, this)
        });
      
      $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
      });
      $('form').not('.ajaxForm').submit(function(e) {
        e.preventDefault();
        var submit = true;

        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
          submit = false;
        }

        if (submit)
          this.submit();

        return false;
      });
    </script>
    <!-- /validator -->
{% endblock %}
