{% extends 'WarehouseBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Inventory Listing
{% endblock %}

{% block body %}

    <div class="page-title" style="display:none;">
        <div class="title_left">
            <h3>Inventory Listing <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h3>
        </div>
        <div class="title_right"></div>
    </div>

    <div class="clearfix"></div>

    <!-- Flash messaging -->
    {% include 'default/flash_messaging.html.twig' %}

    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-xs-12">
                    <h2><a href="{{ path('product') }}">Products</a>
                        <small>Inbound products to warehouse</small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="x_body">
            <form id="search_form">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-xs-6 col-sm-4">
                        <input class="form-control" title="keyword" name="keyword" placeholder="Keyword Search"
                               value="{{ keyword }}"/>
                    </div>

                    <div class="col-xs-6 col-sm-2">
                        <select id="is_complete_sel" name="productWithQtyOnly" title="Status" class="form-control">
                            <option value=1 {% if productWithQtyOnly %}selected{% endif %}>Have Qty</option>
                            <option value=0 {% if not productWithQtyOnly %}selected{% endif %}>All</option>
                        </select>
                    </div>

                    <hr class="visible-xs"/>

                    <div class="col-xs-12 col-sm-6">
                        <button type="submit" class="btn btn-success pull-left">Search</button>
                        <a href="{{ path('product') }}" class="btn btn-warning pull-left">Reset Filter</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-sm-1">
                        <select id="number_per_page_sel" name="numberPerPage" title="numberPerPage"
                                class="form-control pull-left">
                            <option value=25 {% if numberPerPage==25 %}selected{% endif %}>25</option>
                            <option value=50 {% if numberPerPage==50 %}selected{% endif %}>50</option>
                            <option value=100 {% if numberPerPage==100 %}selected{% endif %}>100</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-8">
                        <a class="btn btn-primary pull-right" href="{{ path('product_new') }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
                        </a>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <form method="POST" id="bulk_form" action="{{ path('product_bulk_action') }}">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action" cellspacing="0"
                                   cellpadding="0">
                                <thead>
                                <tr>
                                    <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"
                                                            title="check"/></th>
                                    <th {% if pagination.isSorted('product.model') %} class="sorted hidden-xs" {% else %}class="hidden-xs"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Model', 'product.model') }}</th>
                                    <th>Description</th>
                                    <th style="width: 50px" class="{% if pagination.isSorted('product.qtyPerCarton') %}sorted hidden-xs {% else %} hidden-xs{% endif %}">
                                        {{ knp_pagination_sortable(pagination, 'Per Ctn', 'product.qtyPerCarton') }}</th>
                                    <th style="width: 50px" class="{% if pagination.isSorted('locationProduct.onHand') %}sorted hidden-xs {% else %} hidden-xs{% endif %}">
                                        {{ knp_pagination_sortable(pagination, 'On Hand', 'locationProduct.onHand') }}</th>
                                    <th style="width: 50px">Allocated</th>
                                    <th style="width: 50px">Picked</th>
                                    <th style="width: 50px">Available</th>
                                    <th>Locations</th>
                                    <th class="{% if pagination.isSorted('product.created') %}sorted hidden-xs {% else %} hidden-xs{% endif %}">
                                        {{ knp_pagination_sortable(pagination, 'Created', 'product.created') }}</th>
                                    <th width="160px" class="hidden-xs" style="width: 100px">Actions</th>
                                </tr>
                                </thead>
                                <tbody id="incoming_list_content">
                                {% include 'WarehouseBundle:Product:_index_product_detail.html.twig' %}
                                </tbody>
                            </table>
                        </div>

                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 pull-left">
                    <div class="pagination form-inline col-xs-12">
                        <div class="form-group">
                            <select class="form-control" name="bulk_action" title="bulk_action">
                                <option value="delete">DELETE</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')"
                                   form="bulk_form" class="form-control btn btn-danger btn-sm" disabled/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="navigation pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

