{% extends 'WarehouseBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Incoming Inventory Listing
{% endblock %}

{% block body %}
    <div class="page-title" style="display:none;">
        <div class="title_left">
            <h3>Incoming Listing <span class="glyphicon glyphicon-truck" aria-hidden="true"></span></h3>
        </div>
        <div class="title_right"></div>
    </div>

    <div class="clearfix"></div>

    <!-- Flash messaging -->
    {% include 'default/flash_messaging.html.twig' %}

    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-xs-12">
                    <h2><a href="{{ path('incoming') }}">Incoming</a>
                        <small>Inbound products to warehouse</small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="x_body">
            <form method="get" id="search_form">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-xs-6 col-sm-4">
                        <input class="form-control" title="keyword" name="keyword" placeholder="Keyword Search"
                               value="{{ keyword }}" />
                    </div>

                    <div class="col-xs-6 col-sm-2">
                        <select id="is_complete_sel" name="isComplete" title="Status" class="form-control">
                            <option value=1 {% if isComplete %}selected{% endif %}>Complete</option>
                            <option value=0 {% if not isComplete %}selected{% endif %}>Incomplete</option>
                        </select>
                    </div>

                    <hr class="visible-xs" />

                    <div class="col-xs-12 col-sm-6">
                        <button type="submit" class="btn btn-success pull-left">Search</button>
                        <a href="{{ path('incoming') }}" class="btn btn-warning pull-left">Reset Filter</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                    {% include 'WarehouseBundle:Incoming:_index_calendar.html.twig' %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-sm-1">
                        <select id="number_per_page_sel" name="numberPerPage" title="numberPerPage"
                                class="form-control pull-left">
                            <option value=25 {% if numberPerPage==25 %}selected{% endif %}>25</option>
                            <option value=50 {% if numberPerPage==50 %}selected{% endif %}>50</option>
                            <option value=100 {% if numberPerPage==100 %}selected{% endif %}>100</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-8">
                        <a class="btn btn-primary pull-right" href="{{ path('incoming_new') }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
                        </a>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <form method="POST" id="bulk_form" action="{{ path('incoming_bulk_action') }} ">
                        <table class="table table-striped jambo_table bulk_action" cellspacing="0"
                               cellpadding="0">
                            <thead>
                            <tr>
                                <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)" title="check" /></th>
                                <th {% if pagination.isSorted('i.name') %} class="sorted hidden-xs"{% else %}class="hidden-xs"{% endif %}>
                                    {{ knp_pagination_sortable(pagination, 'Name', 'i.name') }}</th>
                                <th {% if pagination.isSorted('i.type') %} class="sorted hidden-xs"{% else %}class="hidden-xs"{% endif %}>
                                    {{ knp_pagination_sortable(pagination, 'Type', 'i.type') }}</th>
                                <th>Status</th>
                                <th {% if pagination.isSorted('i.netaame') %} class="sorted"{% endif %}>
                                    {{ knp_pagination_sortable(pagination, 'Eta', 'i.eta') }}</th>
                                <th {% if pagination.isSorted('i.scheduled') %} class="sorted hidden-xs"{% else %}class="hidden-xs"{% endif %}>
                                    {{ knp_pagination_sortable(pagination, 'Scheduled', 'i.scheduled') }}</th>
                                <th {% if pagination.isSorted('i.created') %} class="sorted hidden-xs"{% else %}class="hidden-xs"{% endif %}>
                                    {{ knp_pagination_sortable(pagination, 'Created', 'i.created') }}</th>
                                <th># Prod<span class="hidden-xs">ucts</span></th>
                                <th width="160px" class="hidden-xs">Action</th>
                            </tr>
                            </thead>
                            <tbody id="incoming_list_content">
                            {% include 'WarehouseBundle:Incoming:_index_incoming_detail.html.twig' %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 pull-left">
                    <div class="pagination form-inline col-xs-12">
                        <div class="form-group">
                            <select class="form-control" name="bulk_action" title="bulk_action">
                                <option value="delete">DELETE</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')"
                               form="bulk_form" class="form-control btn btn-danger btn-sm" disabled/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="navigation pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

