{% extends 'WarehouseBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Incoming Inventory Listing
{% endblock %}

{% block body %}

    <div class="page-title" >
      <div class="title_left">
        <h3>{{ incoming.name }}'s Incoming Products <span class="glyphicon glyphicon-truck" aria-hidden="true"></span></h3>
      </div>
      <div class="title_right"></div>
    </div>

    <div class="clearfix"></div>

    <!-- Flash messaging -->
    {% include 'default/flash_messaging.html.twig' %}

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                  <h2><a href="{{ path('product') }}">Products</a> <small>Incoming products</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                
                    <div class="row">
                        <div class="table-responsive col-md-12">
                            <form method="POST" id="bulk_form" action="{{ path('incoming_product_bulk_action',{'incoming':incoming.id}) }} ">
                                <table class="table table-striped jambo_table bulk_action" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                                            {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                                            <th>{{ 'Model' }}</th>
                                            <th>{{ 'Qty Incoming' }}</th>
                                            <th>{{ 'Qty Scan' }}</th>
                                       
                                        <th width = "130px">List</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for incomingProduct in incomingProducts %}
                                        {% if incomingProduct.product %}
                                            <tr>
                                                <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{incomingProduct.id}}"/></td>
                                                <td>{{ incomingProduct.product.model }}</td>
                                                <td>{{ incomingProduct.qty }}</td>
                                                <td>{{ incomingUtil.getIncomingProductScanCountByModel(incoming,incomingProduct.product.model) }}</td>

                                                <td class="actions">
                                                    <a  onclick="return confirm('Are you sure!');" title="Delete" class="btn btn-danger btn-sm" href="{{ path('incoming_product_by_id_delete',  app.request.query.all|merge({'incoming':incoming.id,'id':incomingProduct.id})) }}">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </a>
                                                    <a  title='Edit' class="btn btn-primary btn-sm" href="{{ path('incoming_product_edit', app.request.query.all|merge({'id':incomingProduct.id})) }}">
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                    </a>
                                                </td>

                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="5">An issue with an unassociated sku has occurred. Perhaps there was a duplicate sku on the import.</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    {% if incomingProducts|length == 0 %}
                                    <tr>
                                        <td colspan="5">There are currently no incoming products for {{ incoming.name }}.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                                </table>
                            </form>

                            <hr />

                            <div class="row">
                                <div class="col-xs-12 col-sm-4 pull-left">
                                    <div class="form-inline ">
                                        <a class="btn btn-default" href="{{ path('incoming_edit',{'id':incoming.id}) }}">
                                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                            Back to {{ incoming.name }}
                                        </a>
                                        <a class="btn btn-info" href="{{ path('incoming_product_new', {'incoming':incoming.id}) }}">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            <span class="hidden-xs">New</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 pull-left">
                                    <div class="form-inline col-xs-12">
                                        <div class="form-group">
                                            <select class="form-control" name="bulk_action" >
                                                <option value="delete">DELETE</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /#bottom -->
                        </div>
                    </div> <!-- /#list -->

                    
                </div>
            </div>



            <!-- Files -->
            <div class="x_panel">
                <div class="x_title">
                  <h2><a href="{{ path('product') }}">Import Files</a> <small>Files used for import of products</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                
                    <div class="row">
                        <div class="table-responsive col-md-12">
                            <table class="table table-striped jambo_table bulk_action" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th>{{ 'File' }}</th>
                                    <th>{{ 'Created' }}</th>
                                   
                                    <th width = "60px">List</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for file in incoming.files %}
                                <tr>
                                    <td><a href="{{ asset('uploads/imports/' ~ file.filepath) }}"><span class="hidden-xs">{{ file.filepath }}</span><span class="visible-xs">{{ file.filepath|slice(0, 8) }}</span></a></td>
                                    <td>{{ file.created|date('Y-m-d H:i:s A') }}</td>
                                    <td class="actions">
                                        <a  onclick="return confirm('Are you sure!');" title='Re-import' class="btn btn-primary btn-sm" href="{{ path('incoming_import_file', app.request.query.all|merge({'incoming':incoming.id,'id':file.id})) }}">
                                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% if incoming.files|length == 0 %}
                                <tr>
                                    <td colspan="3">There are currently no files for {{ incoming.name }}.</td>
                                </tr>
                                {% endif %}
                            </tbody>
                            </table>
                        </div>
                    </div> <!-- /#list -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}

