<!-- Response messages -->
<div class="row" id="products_scanned_form_message_bag">
    {% include 'WarehouseBundle:Incoming:products_scanned_form_message_bag.html.twig' %}
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Scanned Product(s)
                    <small>{{ incoming.name }}</small>
                </h2>
                <div class="pull-right">
                    {% if not incomingManager.isComplete(incoming) %}
                        <form name="new-form" id="scan-incoming-product-new-form" method="post" class="ajaxForm"
                              action="{{ path('incoming_products_scanned_new_ajax',{'id':incoming.id}) }}">
                            <a href="{{ path('incoming_products_scanned', {'id':incoming.id}) }}"
                               class="btn btn-warning pull-left">Refresh total count</a>
                            <div class="input-group" style="max-width:200px;">
                                <input name="sku" type="text" autofocus placeholder="SKU" class="form-control">
                                <span class="input-group-btn">
                                <input type="submit" title="Add" class="btn btn-success">
                                </span>
                            </div>
                        </form>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% set iscomplete = incomingManager.isComplete(incoming) %}
                <form name="modify-form" id="incoming-product-page-form" method="post" class="ajaxForm"
                      action="{{ path('incoming_products_scan_complete',{'id':incoming.id}) }}">
                    <div class="error_zone"></div>
                    <table id="datatable-keytable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Model</th>
                            <th># Inbound</th>
                            <th>Total Count</th>
                            <th>Location</th>
                            <th>Qty</th>
                        </tr>
                        </thead>
                        <tbody class="incomingScannedProductsPage">

                        {{ render(controller('WarehouseBundle:IncomingProductScan:renderProductScannedRows',{'id':incoming.id})) }}

                        <tr class="remove">
                            <td colspan="7">Scan items to build this list.</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="clearfix"></div>

                    <div class="actionBar">
                        {% if not iscomplete %}
                            <button id="product_scan_form_force_submit" class="btn btn-danger btn-large" style="display: none;">
                                Force COMPLETE SCAN</button>
                            <button type="submit" class="btn btn-dark btn-large"
                                    data-confirm="This will mark the container are closed and notify roveconcepts.
                                     It will also assign all items to active inventory. Are you sure you are complete?"
                            >COMPLETE SCAN</button>
                            <a data-confirm="Are you sure you want to pre-load from packing list!"
                               class="btn btn-warning ajaxLink pull-left"
                               href="{{ path('incoming_products_scan_load',{'id':incoming.id}) }}">LOAD FROM PACKING
                                LIST</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="loading"></div>
