{% for scannedProduct in scannedProducts %}
    {% if scannedProduct.incomingProduct and scannedProduct.incomingProduct.qty == incomingUtil.getIncomingProductScanCountByModel(incoming,scannedProduct.product.model) %}
        <tr>
    {% else %}
        <tr  class="warning">
    {% endif %}

    <td width="100" class="form-inline">
        {% if not isComplete %}
            <div class="form-group">
                <a data-confirm="Are you sure!" title="Delete" class="btn btn-danger btn-sm ajaxLink"
                   href="{{ path('incoming_products_scanned_delete_ajax', { 'id': scannedProduct.id}) }}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </div>
            <div class="form-group">
                <a title="Split" class="btn btn-success btn-sm ajaxLink"
                   href="{{ path('incoming_products_scan_split_ajax', { 'id': scannedProduct.id}) }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </div>
        {% endif %}
    </td>
    <td>
        {{ scannedProduct.product.model }}
    </td>
    <td>
        {% if scannedProduct.incomingProduct %}
            {{ scannedProduct.incomingProduct.qty }}
        {% else %}N/A{% endif %}</td>
    <td>
        {{ incomingUtil.getIncomingProductScanCountByModel(incoming,scannedProduct.product.model) }}
    </td>
    <td width="170">
        {% if not isComplete %}
            <select class="form-control" name="scannedProduct[{{ scannedProduct.id }}][location]"
                    data-url="{{ path('incoming_product_scan_edit_ajax',{'id':scannedProduct.id}) }}"
                    data-type="location"
                    title="Location"
                    required>
                {% if scannedProduct.locationId==null %}
                    <option selected value>select location</option>
                {% else %}
                    <option value>select location</option>
                {% endif %}
                {% for locationDropdown in locationDropdownList %}
                    {% if scannedProduct.locationId ==  locationDropdown.id %}
                        <option value="{{ locationDropdown.id }}" selected>{{ locationDropdown.value }}</option>
                    {% else %}
                        <option value="{{ locationDropdown.id }}">{{ locationDropdown.value }}</option>
                    {% endif %}

                {% endfor %}
            </select>
        {% else %}
            {% if scannedProduct.location %}
                {{ scannedProduct.location.printLocation }}
            {% else %}
                N/A
            {% endif %}
        {% endif %}
    </td>
    <td width="80">
        {% if not isComplete %}
            <input type="number" class="form-control" name="scannedProduct[{{ scannedProduct.id }}][quantity]"
                   data-url="{{ path('incoming_product_scan_edit_ajax',{'id':scannedProduct.id}) }}"
                   data-type="quantity"
                   title="qty" value="{{ scannedProduct.qtyOnScan }}"
                   required>
        {% else %}{{ scannedProduct.qtyOnScan }}{% endif %}
    </td>
    </tr>
{% endfor %}